/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 * ACTUAL CSS
 */

*{
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Helvetica;
  background: #f5f5f5;
}

input {
  font: inherit;
}

#header {
  text-align: center;
  font-size: 60px;
  margin: 15px;
  color: rgba(175, 47, 47, 0.15);
}

#todo-app {
  margin: 10px auto;
  max-width: 400px;
  padding: 5px;
  /* must be relatively positioned to contain the absolute positioning of the checkbox svg */
  position: relative;
}

#new-todo {
  width: 100%;
  outline: none;
}

#new-todo,
#todo-list li {
  padding: 15px;
  border: 2px solid #ededed;
  background-color: #fff;
}

#todo-list li {
  border-top: none;
}

input[type="checkbox"] {
  /* allow it to sit to the left of the label */
  position: absolute;
  
  /* remove default styling */
  outline: none;
  -webkit-appearance: none;
  
  margin-top: -10px;
  margin-left: -10px;
  /* and hide the extra sprite image */
  overflow: hidden;
}

input[type="checkbox"]:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#ebebeb" stroke-width="3"/></svg>');
}

input[type="checkbox"]:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -10 120 120"><circle cx="50" cy="50" r="50" fill="none" stroke="#ebebeb" stroke-width="3"/><circle cx="50" cy="50" r="30" stroke="#72F784" stroke-width="10" fill="none" /></svg>');
}

input[type="checkbox"] + label {
  /* push the label to the right of the svg */
  margin-left: 40px;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: rgba(47, 47, 47, 0.4);
}
